.estado_Pendiente,
.estado_Activo,
.estado_Cancelado,
.estado_Entregado {
	font-weight: bold;
}

.estado_Pendiente {
	color: rgb(170, 172, 51);
}

.estado_Activo {
	color: rgb(70, 32, 238);
}

.estado_Cancelado {
	color: rgb(238, 32, 49);
}

.estado_Entregado {
	color: rgb(49, 156, 45);
}
